
<tr @onclick="@onClickRow">
	@if (Row is not null)
	{
		foreach (var r in Row)
		{
			<td>@r.Value</td>
		}
	}
</tr>

@code {
	[Parameter]
	public Dictionary<string, object>? Row { get; set; }

	[Parameter]
	public Action<Dictionary<string, object>>? onClickRowCallBack { get; set; }

	private async void onClickRow()
	{
		await Task.Run(() => onClickRowCallBack?.Invoke(Row ?? new Dictionary<string, object>()));
	}
}
